<%= link_to "← 一覧に戻る", :tasks %>

<%= link_to "編集", [:edit, @task] %>

<%= form_with model: @task do |f| %>
    <table>
        <tr>
            <th>タイトル</th>
            <td><%= @task.title %></td>
        <tr>
            <th>開始日</th>
            <td><%= @task.start_day.present? ? l(@task.start_day) : "未設定" %></td>

        </tr>

        <tr>
            <th>終了日</th>
            <td><%= @task.end_day.present? ? l(@task.end_day) : "未設定" %></td>

        </tr>

        <tr>
            <th>終日</th>
            <td><%= @task.all_day ? '⚪︎' : '' %></td>
        </tr>

        <tr>
            <th>スケジュールメモ</th>
            <td><%= @task.memo %></td>
        </tr>
    </table>
<% end %>